Repository dh1293-hub/kobong-orchestrator, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, build, infra, app, test

.github/labeler.yml:

# actions/labeler@v5 schema
docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md', 'docs/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']

build:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'pnpm-lock.yaml', 'yarn.lock', 'scripts/**']

infra:
  - changed-files:
      - any-glob-to-any-file: ['infra/**']

app:
  - changed-files:
      - any-glob-to-any-file: ['app/**', 'src/**']

test:
  - changed-files:
      - any-glob-to-any-file: ['tests/**']

chore: add kobong_logger v0.1; fix regex-safe CI edits (Node20 + prebuild cleanup)
  .github/workflows/_disabled/ci-release.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-smoke.yml
  scripts/kobong_logger.psm1
Labels: ci, build

chore: add kobong_logger + Node20 CI safe edits (+ .gitattributes) (#2)
  .github/workflows/_disabled/ci-release.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-smoke.yml
  scripts/kobong_logger.psm1
Labels: ci, build

ci: add Release Gate workflow (single required check)
  .github/workflows/release-gate.yml
Labels: ci

ci: normalize Release Gate triggers (PR + dispatch, literal heredoc)
  .github/workflows/release-gate.yml
Labels: ci

ci: Release Gate (single required check) (#3)
  .github/workflows/release-gate.yml
Labels: ci

chore(logger): restore stashed changes to kobong_logger.psm1
  scripts/kobong_logger.psm1
Labels: build

chore(logger): restore stashed changes (#4)
  scripts/kobong_logger.psm1
Labels: build

chore: add .gitattributes and normalize EOLs
  .gitattributes
Labels: none

chore: normalize EOLs via .gitattributes (#5)
  .gitattributes
Labels: none

ci: add EOL Guard (CRLF blocker)
  .github/workflows/eol-guard.yml
Labels: ci

ci: add EOL Guard (CRLF blocker) (#6)
  .github/workflows/eol-guard.yml
Labels: ci

ci(klc): add smoke workflow for kobong_logger_cli
  .github/workflows/klc-smoke.yml
Labels: ci

chore: enforce LF for YAML
  .gitattributes
Labels: none

chore: retry push (fix hook spawn)
  .github/workflows/release-gate.yml
Labels: ci

chore: ignore backups/logs/venv
  .gitignore
Labels: none

ci/klc smoke (#8)
  .gitattributes
  .github/workflows/klc-smoke.yml
  .github/workflows/release-gate.yml
  .gitignore
Labels: ci

chore(eol): enforce LF & renormalize line endings
  .gitattributes
Labels: none

test(contracts): add sys.path discovery for 'infra' package in CI
  tests/contract/conftest.py
Labels: test

ci(contracts): set PYTHONPATH for contract jobs (safe inject)
  .github/workflows/contract-tests.yml
  .github/workflows/contracts-ci.yml
  .github/workflows/contracts-status.yml
  .github/workflows/contracts.yml
Labels: ci

chore(ignore+eol): drop venv/pycache & normalize LF (fix check-crlf)
  .gitignore
Labels: none

chore(eol): enforce LF across repo (core.autocrlf=false; *.cmd/*.bat eol=lf)
  .gitattributes
Labels: none

ci(contracts): harden pytest step (fallback paths/keywords + graceful skip)
  .github/workflows/contracts.yml
Labels: ci

ci(contracts): switch contract-tests to multiline if/elif/else (bash-safe)
  .github/workflows/contracts.yml
Labels: ci

chore(ci): add view-ci-summary helper script
  scripts/view-ci-summary.ps1
Labels: build

chore: ignore helper & backups; normalize .gitignore to LF
  .gitignore
Labels: none

chore: enforce LF and final newline via .editorconfig
  .editorconfig
Labels: none

chore: import kobong_logger_cli (copy mode; eol normalized)
  kobong_logger_cli/.gitattributes
  kobong_logger_cli/.github/workflows/contract-tests.yml
  kobong_logger_cli/build-oneclick-installer.ps1
  kobong_logger_cli/dist/KobongLoggerSetup.exe
  kobong_logger_cli/dist/bundle.tmp/.gitattributes
  kobong_logger_cli/dist/bundle.tmp/domain/contracts/logging/v1.schema.json
  kobong_logger_cli/dist/bundle.tmp/infra/__init__.py
  kobong_logger_cli/dist/bundle.tmp/infra/logging/__init__.py
  kobong_logger_cli/dist/bundle.tmp/infra/logging/json_logger.py
  kobong_logger_cli/dist/bundle.tmp/requirements.contract-tests.txt
  kobong_logger_cli/dist/bundle.tmp/scripts/run-contract-tests.ps1
  kobong_logger_cli/dist/bundle.tmp/scripts/setup-env.ps1
  kobong_logger_cli/dist/bundle.tmp/tests/contract/test_logging_contract.py
  kobong_logger_cli/dist/kbl.sed
  kobong_logger_cli/dist/kobong-logging-bundle.zip
  kobong_logger_cli/dist/sfx-work/install-logging-bundle.auto.ps1
  kobong_logger_cli/dist/sfx-work/kobong-logging-bundle.zip
  kobong_logger_cli/dist/sfx-work/kobong_logger_cli_설치 프로그램.zip
  kobong_logger_cli/dist/sfx-work/run.cmd
  kobong_logger_cli/domain/contracts/logging/v1.schema.json
  kobong_logger_cli/infra/__init__.py
  kobong_logger_cli/infra/logging/__init__.py
  kobong_logger_cli/infra/logging/json_logger.py
  kobong_logger_cli/kobong-logger-auto.broken.ps1
  kobong_logger_cli/kobong-logging-adoption-guide_ko.md
  kobong_logger_cli/kobong_logger_cli.py
  kobong_logger_cli/kobong_logger_cli_설치 프로그램.zip
  kobong_logger_cli/requirements.contract-tests.txt
  kobong_logger_cli/scripts/run-contract-tests.ps1
  kobong_logger_cli/scripts/setup-env.ps1
  kobong_logger_cli/tests/contract/test_logging_contract.py
Labels: none

chore: monorepo wiring for kobong_logger_cli (subtree-ready, no-heredoc)
  kobong_logger_cli/README.monorepo.md
  scripts/cli-subtree-split.ps1
Labels: build

chore: ignore .gpt5.lock (+ kb_stash_untracked-*/)
  .gitignore
Labels: none

fix(logging): create scripts/logging & install klc-wrapper
  scripts/logging/klc-wrapper.ps1
Labels: build

chore(logging): add demo-log.ps1
  scripts/logging/demo-log.ps1
Labels: build

chore(logging): add demo-log.ps1 (no-heredoc)
  scripts/logging/demo-log.ps1
Labels: build

feat(logging): add run-with-klc wrapper (capture all streams + JSONL summary)
  .gitignore
  scripts/logging/run-with-klc.ps1
Labels: build

fix(logging): run-with-klc use subexpression/precompute for Level/ErrorCode
  scripts/logging/run-with-klc.ps1
Labels: build

fix(run): rewrite run-with-klc (safe quoting + manifest/summary)
  scripts/logging/run-with-klc.ps1
Labels: build

fix(run): summary array uses conditional += (no inline if in @())
  scripts/logging/run-with-klc.ps1
Labels: build

fix(run): robust runner (fallback) + add summarize/compare tools
  scripts/logging/compare-runs.ps1
  scripts/logging/run-with-klc.ps1
  scripts/logging/summarize-run.ps1
Labels: build

fix(run): remove LASTEXITCODE dependency; fix compare when only 1 run exists
  scripts/logging/compare-runs.ps1
  scripts/logging/run-with-klc.ps1
Labels: build

fix(compare): tolerate missing/old manifests, auto-fill counts from logs
  scripts/logging/compare-runs.ps1
Labels: build

fix(compare): null-safe counts and auto-fill from logs
  scripts/logging/compare-runs.ps1
Labels: build
