Repository dh1293-hub/kobong-orchestrator, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, build, infra, app, test

fix(compare): always derive counts from logs; null-safe access
  scripts/logging/compare-runs.ps1
Labels: build

fix(compare): key-wise safe fallback to directory log counts (v1.4)
  scripts/logging/compare-runs.ps1
Labels: build

fix(compare): avoid A/a collision; robust counts from logs (v1.5)
  scripts/logging/compare-runs.ps1
Labels: build

feat(g5-brief): console-only 1-line/10-line handoff for GPT-5
  scripts/g5/g5-brief.ps1
Labels: build

fix(g5-brief): parser-safe + add next-stderr helper
  scripts/g5/g5-brief.ps1
  scripts/g5/next-stderr.ps1
Labels: build

feat(g5): PS7-safe brief + proactive hotlist (console-only handoff)
  scripts/g5/g5-brief.ps1
  scripts/g5/g5-hotlist.ps1
Labels: build

feat(g5): parser-safe g5-brief + active g5-triage (Top-K error bucketing)
  scripts/g5/g5-brief.ps1
  scripts/g5/g5-triage.ps1
Labels: build

fix(g5): triage uses integer n; replace broken auto-hook with safe block
  scripts/g5/g5-triage.ps1
  scripts/logging/run-with-klc.ps1
Labels: build

fix(g5-triage): robust int normalization & safe sort-by-n (v1.4)
  scripts/g5/g5-triage.ps1
Labels: build

chore(g5-triage): stronger normalization for path/line to de-dup buckets
  scripts/g5/g5-triage.ps1
Labels: build

fix(g5-triage): full rewrite with robust normalization and safe Top-K
  scripts/g5/g5-triage.ps1
Labels: build

fix(g5-triage): OneLine top= formatting via precomputed $topText
  scripts/g5/g5-triage.ps1
Labels: build

feat(g5): add g5-actions.ps1 with robust repo-root resolution (console-safe)
  scripts/g5/g5-actions.ps1
Labels: build

feat(g5): add g5-hand-off.ps1 (one-shot brief/triage/reco + clipboard)
  scripts/g5/g5-hand-off.ps1
Labels: build

fix(logging): rewrite run-with-klc.ps1 (Args string[] + standard logs + auto-brief/triage)
  scripts/logging/run-with-klc.ps1
Labels: build

feat(logging): add timeout/kill-tree to run-with-klc; guard clipboard via KOBONG_NO_CLIPBOARD
  scripts/g5/g5-hand-off.ps1
  scripts/logging/run-with-klc.ps1
Labels: build

fix(g5-brief): rewrite safe summary (no dynamic counts); add samples/echo-times.ps1
  scripts/g5/g5-brief.ps1
  scripts/samples/echo-times.ps1
Labels: build

chore(governance): assert GPT-5 lead state (LF)
  state/g5-lead.state.json
Labels: none

docs(ops): add PS7 guidelines & logger standard + EOL policy
  .gitattributes
  docs/Standard_Guidelines_GPT5_Ops_v1.0_KobongFirst.md
  docs/kobong_logger_cli_minimal_standard_v1.txt
  docs/powershell7_guidelines_kobong_first_v1.txt
Labels: docs

chore(eol): normalize line endings per .gitattributes
  scripts/logging/run-with-klc.ps1
  scripts/samples/echo-times.ps1
Labels: build

chore(eol): enforce LF for all text + repo renormalize
  .gitattributes
Labels: none

chore(governance): assert GPT-5 lead mode (state) (#11)
  .gitattributes
  .gitignore
  docs/Standard_Guidelines_GPT5_Ops_v1.0_KobongFirst.md
  docs/kobong_logger_cli_minimal_standard_v1.txt
  docs/powershell7_guidelines_kobong_first_v1.txt
  scripts/g5/g5-actions.ps1
  scripts/g5/g5-brief.ps1
  scripts/g5/g5-hand-off.ps1
  scripts/g5/g5-hotlist.ps1
  scripts/g5/g5-triage.ps1
  scripts/g5/next-stderr.ps1
  scripts/logging/compare-runs.ps1
  scripts/logging/demo-log.ps1
  scripts/logging/klc-wrapper.ps1
  scripts/logging/run-with-klc.ps1
  scripts/logging/summarize-run.ps1
  scripts/samples/echo-times.ps1
  state/g5-lead.state.json
Labels: docs, build

docs(ops): add mini TOC + README ops links
  README.md
  docs/Standard_Guidelines_GPT5_Ops_v1.0_KobongFirst.md
  docs/kobong_logger_cli_minimal_standard_v1.txt
  docs/powershell7_guidelines_kobong_first_v1.txt
Labels: docs

docs(ops): add mini TOC + README ops links (#12)
  README.md
  docs/Standard_Guidelines_GPT5_Ops_v1.0_KobongFirst.md
  docs/kobong_logger_cli_minimal_standard_v1.txt
  docs/powershell7_guidelines_kobong_first_v1.txt
Labels: docs

docs(ops): log experiences (EOL Guard, PR gen, PS7 pitfalls, merge recovery)
  docs/ops-experience-log.md
Labels: docs

docs(ops): add ops-experience-log entry (#13)
  docs/ops-experience-log.md
Labels: docs

chore(gitignore): ignore .gpt5.lock and logs/ (KST: 2025-09-14 14:38 +09:00)
  .gitignore
Labels: none

chore(gitignore): ignore ops artifacts (#14)
  .gitignore
Labels: none

chore(release): seed CHANGELOG for v0.1.0 (KST: 2025-09-14 14:41 +09:00)
  CHANGELOG.md
Labels: none

chore(release): seed CHANGELOG for v0.1.0 (#15)
  CHANGELOG.md
Labels: none

ci(release): run only on tags (add release-on-tag-ops.yml) [KST: 2025-09-14 22:30 +09:00]
  .github/workflows/release-on-tag-ops.yml
Labels: ci

ci(release): run only on tags (#16)
  .github/workflows/release-on-tag-ops.yml
Labels: ci

ci(release): GH_TOKEN + manual tag input; fallback to GITHUB_REF (KST: 2025-09-14 23:05 +09:00)
  .github/workflows/release-on-tag-ops.yml
Labels: ci

ci(release): make tag release robust (GH_TOKEN + manual input) (#17)
  .github/workflows/release-on-tag-ops.yml
Labels: ci

docs(readme): add release badge (KST: 2025-09-14 23:23 +09:00)
  README.md
Labels: docs

docs(readme): add release badge (#18)
  README.md
Labels: docs

chore: normalize LF EOL and standardize /health (HTTP 200 JSON)
  scripts/health-server.mjs
Labels: build

chore(eol): enforce LF via .gitattributes; renormalize health-server.mjs
  .gitattributes
  scripts/health-server.mjs
Labels: build

chore(eol): enforce LF via .gitattributes; standardize /health (HTTP 200 JSON) (#19)
  .gitattributes
  scripts/health-server.mjs
Labels: build

ops: add health probe/monitor (auto-heal via Startup shortcut + cmd wrapper)
  scripts/g5/health-probe.ps1
  scripts/g5/monitor-health.ps1
  scripts/g5/run-monitor-health.cmd
Labels: build

.github/labeler.yml:

# actions/labeler@v5 schema
docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md', 'docs/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']

build:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'pnpm-lock.yaml', 'yarn.lock', 'scripts/**']

infra:
  - changed-files:
      - any-glob-to-any-file: ['infra/**']

app:
  - changed-files:
      - any-glob-to-any-file: ['app/**', 'src/**']

test:
  - changed-files:
      - any-glob-to-any-file: ['tests/**']
