Repository dh1293-hub/kobong-orchestrator, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, build, infra, app, test

ops: add health monitor (auto-heal) (#20)
  scripts/g5/health-probe.ps1
  scripts/g5/monitor-health.ps1
  scripts/g5/run-monitor-health.cmd
Labels: build

ops: add badges workflow + generator (local health smoke → SVG)
  .github/workflows/kobong-badges.yml
  scripts/g5/generate-badges.ps1
Labels: ci, build

ops: badges workflow (local health → SVG) (#22)
  .github/workflows/kobong-badges.yml
  scripts/g5/generate-badges.ps1
Labels: ci, build

docs: add health badge to README (auto-refreshed by workflow)
  README.md
Labels: docs

docs: add health badge to README (#23)
  README.md
Labels: docs

docs: add status dashboard (docs/status.html) and link in README
  README.md
  docs/status.html
Labels: docs

fix(eol): satisfy EOL Guard — enforce LF for *.cmd and normalize wrapper
  .gitattributes
Labels: none

ops: contracts-status — fix PowerShell interpolation (use single-quoted here-string) & add null-guards
  .github/workflows/contracts-status.yml
Labels: ci

fix(eol): deindex node_modules; ignore & disable EOL there; normalize repo LF
  .gitattributes
  .gitignore
Labels: none

test(contract): add vitest/vite devDeps and run-contract script
  package.json
Labels: build

ci(contract): replace contracts-ci.yml with safe here-string + Node 18 + npm ci + vitest runner
  .github/workflows/contracts-ci.yml
Labels: ci

ci: ignore ops/** pushes for selected workflows (branches-ignore injection) [20250915-125813]
  .github/workflows/ci-release.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/ci.yml
  .github/workflows/contracts-status.yml
Labels: ci

test(contract): ensure scripts['test:contract'] and run-contract; keep vitest deps
  package.json
Labels: build

docs: add status dashboard (docs/status.html) (#24)
  README.md
  docs/status.html
Labels: docs

ops: fix contracts-status (no PS interpolation, tolerant) (#25)
  .gitattributes
  .github/workflows/contracts-status.yml
Labels: ci

recover: apply kobong-bot stash 20250915-152137
  scripts/g5/auto-fix-open-prs.ps1
  scripts/g5/auto-merge-ready.ps1
Labels: build

chore: keep latest automation scripts (scripts/g5/auto-fix-open-prs.ps1, scripts/g5/auto-merge-ready.ps1)
  scripts/g5/auto-fix-open-prs.ps1
  scripts/g5/auto-merge-ready.ps1
Labels: build

recover: local stash 20250915-152137 (#26)
  scripts/g5/auto-fix-open-prs.ps1
  scripts/g5/auto-merge-ready.ps1
Labels: build

.github/labeler.yml:

# actions/labeler@v5 schema
docs:
  - changed-files:
      - any-glob-to-any-file: ['README.md', 'docs/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']

build:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'pnpm-lock.yaml', 'yarn.lock', 'scripts/**']

infra:
  - changed-files:
      - any-glob-to-any-file: ['infra/**']

app:
  - changed-files:
      - any-glob-to-any-file: ['app/**', 'src/**']

test:
  - changed-files:
      - any-glob-to-any-file: ['tests/**']
